<template>
  <v-app>
    <HomeAppBar />
    <v-main>
      <NuxtPage />
    </v-main>
    <HomeFooter />
  </v-app>
</template>

<script setup lang="ts">
import { useTheme } from 'vuetify'
const appTheme = useCookie('appTheme').value

const theme = useTheme()
if (appTheme == 'dark') {
  const lightTheme = 'appLightTheme'
  const darkTheme = 'appDarkTheme'
  // light theme と dark theme を入れ替えます(よくない方法です)
  const themeNext = theme.getTheme(darkTheme)
  theme.setTheme(darkTheme, theme.getTheme(lightTheme))
  theme.setTheme(lightTheme, themeNext)
} else if (appTheme === undefined) {
  // 初期セットアップ時
  const { refresh } = await useFetch('/api/set-app-theme')
  refresh()
}
</script>
