<script setup lang="ts">
const { data, refresh } = await useLazyFetch('/api/heart-count')
</script>

<template>
  <div class="my-5">
    <v-row :align="'center'" no-gutters justify="center">
      <v-card width="500">
        <v-row :align="'center'" justify="center" style="height: 300px;">
          <v-btn color="red-lighten-4" width="100" height="100" class="mr-10" icon
            @click="data.counter++; refresh();">
            <v-icon size="50" color="red-accent-2" icon="mdi-heart"></v-icon>
          </v-btn>
          <p class="text-h3">{{ data.counter }}</p>
        </v-row>
      </v-card>
    </v-row>
  </div>
</template>
