<template>
  <v-container>
    <v-row no-gutters style="height: 100px;">
      <p class="text-h4 text-sm-h3 text-md-h2">
        Heart Page
      </p>
    </v-row>
    <div class="ma-3">
      <p>いいねがいっぱいできます。</p>
      <p>ページを更新すると1いいねされます。</p>
      <p>他のひとがいいねしていて急に数が増えることがあります。</p>
      <p>急にいいね数がリセットされることがあります。</p>
    </div>
    <HeartCount />
    <v-row no-gutters style="height: 500px;">
      <v-btn href="/">Home</v-btn>
    </v-row>
  </v-container>
</template>
