<template>
  <v-row :align="'center'" no-gutters justify="center" style="height: 200px;">
    <img v-if="img != ''" :src="img" />
    <p v-if="text != ''">{{ text }}</p>
    <p v-if="img == '' && text == ''">Image</p>
  </v-row>
</template>

<script setup lang="ts">
const props = defineProps({
  img: {
    type: String,
    default: ''
  },
  text: {
    type: String,
    default: ''
  },
})
</script>
