<template>
  <v-hover v-slot="{ isHovering, props }">
    <v-card :elevation="isHovering ? 4 : 2" v-bind="props">
      <BlogHero :img="heroImg" :text="heroText" />
      <v-divider class="mx-4"></v-divider>
      <v-card-title>
        {{ title }}
      </v-card-title>
      <v-card-text>
        {{ description }}
      </v-card-text>
    </v-card>
  </v-hover>
</template>

<script setup lang="ts">

const props = defineProps({
  heroImg: {
    type: String,
    default: ''
  },
  heroText: {
    type: String,
    default: ''
  },
  title: {
    type: String,
    default: 'Title'
  },
  description: {
    type: String,
    default: 'description'
  }
})
</script>
