<template>
  <v-container>
    <v-row no-gutters style="height: 100px;">
      <p class="text-h4 text-sm-h3 text-md-h2">
        Blog Page
      </p>
    </v-row>
    <v-row no-gutters style="height: 500px;">
      <v-btn href="/">Home</v-btn>
    </v-row>
  </v-container>
</template>
