<template>
  <NuxtLayout name="container">
    <AboutMain />
  </NuxtLayout>
</template>

<script setup lang="ts">
useHead({
  titleTemplate: 'ぺるぺるについて - %s',
  meta: [
    { name: 'description', content: 'ぺるぺるについて' }
  ],
})
</script>
