<template>
  <NuxtLayout name="container">
    <ArtworkMain />
  </NuxtLayout>
</template>

<script setup lang="ts">
useHead({
  titleTemplate: 'イラスト - %s',
  meta: [
    { name: 'description', content: 'ぺるぺるのイラスト' }
  ],
})
</script>
