<template>
  <NuxtLayout name="container">
    <BlogMain />
  </NuxtLayout>
</template>

<script setup lang="ts">
useHead({
  titleTemplate: 'ブログ - %s',
  meta: [
    { name: 'description', content: 'ぺるぺるのブログ' }
  ],
})
</script>
