<template>
  <NuxtLayout name="container">
    <HeartMain />
  </NuxtLayout>
</template>

<script setup lang="ts">
useHead({
  titleTemplate: 'いいねいっぱい - %s',
  meta: [
    { name: 'description', content: 'いいねいっぱい' }
  ],
})
</script>
