<template>
  <v-container class="my-5 my-md-10">
    <v-row no-gutters style="height: 100px;">
      <p class="text-h4 text-sm-h3 text-md-h2">
        Music Page
      </p>
    </v-row>
    <div class="mb-10 mx-5">
      <v-row justify="center">
        <template v-for="item in query">
          <v-col cols="5" md="3" lg="2" class="text-center">
            <v-btn :href="item._path">
              {{ item.title }}
            </v-btn>
          </v-col>
        </template>
      </v-row>
    </div>
    <v-row no-gutters style="height: 500px;">
      <v-btn href="/">Home</v-btn>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
const props = defineProps({
  query: Object
})
</script>
