<script setup lang="ts">
defineProps({
  type: {
    type: String,
    default: 'info'
  },
  href: {
    type: String,
    default: '/'
  }
})
</script>
<template>
  <v-btn class="my-btn x-small align-center px-1 mx-1 text-body-1 text-link font-weight-medium" :href="href">
    <slot />
  </v-btn>
</template>
<style lang="scss" scoped>
.my-btn {
  background-color: inherit;
  display: inline-block;
  word-break: break-all;
  border-radius: 5px;
  text-transform: none !important;
  white-space: normal;
  height: inherit !important;
}
</style>
