<template>
  <v-card rounded="true" color="info" class="mb-5 py-2 px-3">
    <v-card-text class="text-body-1">
      <v-row :align="'center'" style="line-height: 40px !important;">
        <slot />
      </v-row>
    </v-card-text>
  </v-card>
</template>
