<template>
  <v-row no-gutters justify="center">
    <v-col class="content pa-3 pa-sm-5 pa-md-10 mb-10 rounded bg-secondary">
      <slot />
    </v-col>
  </v-row>
</template>

<style lang="scss" scoped>
.content {
  max-width: 1000px;
  line-height: 40px !important;
  text-indent: 1em;
}
</style>
