<template>
  <NuxtLayout name="container">
    <PrivacyMain />
  </NuxtLayout>
</template>

<script setup lang="ts">
useHead({
  titleTemplate: 'プライバシーポリシー - %s',
  meta: [
    { name: 'description', content: 'プライバシーポリシー' }
  ],
})
</script>
