<template>
  <NuxtLayout name="container">
    <PrivacyTermsMain />
  </NuxtLayout>
</template>

<script setup lang="ts">
useHead({
  titleTemplate: '利用規約 - %s',
  meta: [
    { name: 'description', content: '利用規約' }
  ],
})
</script>
