<template>
  <v-app>
    <HomeAppBar />
    <v-main>
      <v-container fluid>
        <router-view>
          <slot>main</slot>
        </router-view>
      </v-container>
    </v-main>
    <HomeFooter />
  </v-app>
</template>
