<template>
  <v-container>
    <v-row no-gutters style="height: 100px;">
      <p class="text-h4 text-sm-h3 text-md-h2">
        404 ERROR!
      </p>
    </v-row>
    <p class="mt-3 mx-5 mb-10">お探しになっているページが見つかりませんでした。</p>
    <v-row no-gutters style="height: 500px;">
      <v-btn href="/">Home</v-btn>
    </v-row>
  </v-container>
</template>
