<template>
  <v-container class="my-5 my-md-10">
    <v-row no-gutters style="height: 100px;">
      <p class="text-h4 text-sm-h3 text-md-h2">
        Game Page
      </p>
    </v-row>
    <WorksGamePuzzle15/>
    <v-row no-gutters style="height: 500px;">
      <v-btn href="/">Home</v-btn>
    </v-row>
    <v-container class="bg-grey-lighten-4">
      <ContentDoc path="/blog">
        <template #not-found>
          <h1>Document not found</h1>
        </template>
      </ContentDoc>
    </v-container>
  </v-container>
</template>
