<template>
  <div>
    <iframe id="inlineFrameExample" title="Inline Frame Example" loading="lazy" width="1300" height="750"
      src="https://pellpell.gitlab.io/puzzle15">
    </iframe>
  </div>
</template>
