<script setup lang="ts">
import { useTheme } from 'vuetify'
const { data, refresh } = await useFetch('/api/app-theme')

const cookieTheme = useCookie('appTheme').value

const drawer = ref(false)

const theme = useTheme()
const lightTheme = 'appLightTheme'
const darkTheme = 'appDarkTheme'


let undefindIcon = ref('mdi-weather-sunny')


const toggleTheme = () => {
  // light theme と dark theme を入れ替えます(よくない方法です)
  const themeNext = theme.getTheme(darkTheme)
  theme.setTheme(darkTheme, theme.getTheme(lightTheme))
  theme.setTheme(lightTheme, themeNext)
  console.log(theme.themes);

  undefindIcon.value = undefindIcon.value == 'mdi-weather-sunny' ? 'mdi-weather-night' : 'mdi-weather-sunny'
}
</script>

<template>
  <div>
    <v-app-bar class="px-0 px-md-10" color="primary">

      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

      <v-app-bar-title @click="$router.push('/')" style="cursor:pointer">
        <p class="text-subtitle-1 text-sm-h6">ぺるぺるのものづくり</p>
      </v-app-bar-title>

      <v-spacer></v-spacer>
      <v-btn icon @click="toggleTheme(); refresh();">
        <v-icon>
          <template v-if="data.appTheme == '0'">
            <template v-if="cookieTheme == 'light'">mdi-weather-sunny</template>
            <template v-else-if="cookieTheme == 'dark'">mdi-weather-night</template>
            <template v-else>{{ undefindIcon }}</template>
          </template>
          <template v-else>
            <template v-if="data.appTheme == 'light'">mdi-weather-sunny</template>
            <template v-else>mdi-weather-night</template>
          </template>
        </v-icon>
      </v-btn>
    </v-app-bar>
    <home-navigation-drawer :drawer="drawer" />
  </div>
</template>
