<template>
  <div>
    <h1 class="text-h3 my-3" @click="$router.push('/blog')" style="cursor:pointer">Blog</h1>
    <v-row class="my-4">
      <v-col cols="12" md="6" lg="4">
        <BlogItem />
      </v-col>
    </v-row>
  </div>
</template>
