<template>
  <v-footer absolute>
    <v-card elevation="0" rounded="0" width="100%" color="primary" class="text-center">
      <v-card-text>
        <v-btn class="mx-4" href="/" icon="mdi-home" variant="plain"></v-btn>
        <v-btn class="mx-4" href="https://gitlab.com/pellpell-home" icon="mdi-gitlab" variant="plain"></v-btn>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
          <img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0"
            src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
        <br />
        この作品は
        <v-btn text rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" color="primary"
          class="x-small post-link align-center py-0 px-1">
          クリエイティブ・コモンズ 表示 - 非営利 - 改変禁止 4.0 国際 ライセンス
        </v-btn>
        の下に提供されています。
      </v-card-text>
      <v-card-text>
        <v-row dense justify="center">
          <v-spacer />
          <v-col cols="6" md="4" lg="2">
            <v-btn text rel="license" href="/privacy" color="primary" class="x-small post-link align-center py-0 px-1 w-100">
              プライバシーポリシー
            </v-btn>
          </v-col>
          <v-col cols="6" md="4" lg="2">
            <v-btn text rel="license" href="/privacy/terms" color="primary"
              class="x-small post-link align-center py-0 px-1 w-100">
              利用規約
            </v-btn>
          </v-col>
          <v-spacer />
        </v-row>
      </v-card-text>
      <v-card-text>
        ©{{ new Date().getFullYear() }} PellPell
      </v-card-text>
    </v-card>
  </v-footer>
</template>


<style lang="scss" scoped>
.post-link {
  display: inline-block;
  word-break: break-all;
  padding: 2px 8px;
  border-radius: 5px;
  text-transform: none !important;
  white-space: normal;
  max-width: calc(100% - 30px);
  height: inherit !important;
}
</style>

