<script setup lang="ts">
import { useTheme, useDisplay } from 'vuetify'

const theme = useTheme()
const darkTheme = 'appDarkTheme'
const beforeXL = ref(true)

const { name } = useDisplay()

const snsBtnSize = computed(() => {
  switch (name.value) {
    case 'xs': return 40
    case 'sm': return 48
    case 'md': return 48
    case 'lg': return 48
    case 'xl': return 48
    case 'xxl': return 48
  }
})

onMounted(() => beforeXL.value = null)

</script>

<template>
  <v-responsive :aspect-ratio="16 / 5" :class="theme.getTheme(darkTheme).dark ? 'home-hero-light' : 'home-hero-dark'">
    <div class="fill-height" style="position: relative">
      <div class="py-3 py-md-7 px-4 px-md-12">
        <p class="text-h5 text-sm-h4 text-md-h2">Welcome to my website!</p>
        <br>
        <p>I'm a creator.</p>
      </div>

      <v-row class="sns-btns" :dense="beforeXL || $vuetify.display.xs">
        <v-col class="sns-btn">
          <v-btn :width="snsBtnSize" :height="snsBtnSize" icon
            href="https://www.youtube.com/channel/UCuLSctBkDGqLELIJnrlQWcw" target="_blank" rel=”noopener”
            color="primary">
            <img width="24" src="~/assets/image/youtube_social_icon_white.png" />
          </v-btn>
        </v-col>
        <v-col class="sns-btn">
          <v-btn :width="snsBtnSize" :height="snsBtnSize"  icon href="https://twitter.com/pellpell__" target="_blank" rel=”noopener” color="primary">
            <v-icon :color="theme.getTheme(darkTheme).dark ? '#1DA1F2' : '#E1E8ED'" icon="mdi-twitter"></v-icon>
          </v-btn>
        </v-col>
        <v-col class="sns-btn">
          <v-btn :width="snsBtnSize" :height="snsBtnSize"  icon href="https://www.pixiv.net/users/81351754" target="_blank" rel=”noopener” color="primary">
            <img width="24" src="~/assets/image/pixiv_logo_icon.png" />
          </v-btn>
        </v-col>
        <v-col class="sns-btn">
          <v-btn :width="snsBtnSize" :height="snsBtnSize"  icon href="https://www.nicovideo.jp/user/124598808" target="_blank" rel=”noopener” color="primary">
            <img v-if="theme.getTheme(darkTheme).dark" width="24" src="~/assets/image/niconico_icon.png" />
            <img v-else width="24" src="~/assets/image/niconico_icon_white.png" />
          </v-btn>
        </v-col>
        <v-col class="sns-btn">
          <v-btn :width="snsBtnSize" :height="snsBtnSize"  icon href="https://www.tiktok.com/@pellpell__" target="_blank" rel=”noopener” color="primary">
            <img v-if="theme.getTheme(darkTheme).dark" width="24" src="~/assets/image/tiktok-icon.png" />
            <img v-else width="24" src="~/assets/image/tiktok-icon-dark.png" />
          </v-btn>
        </v-col>
      </v-row>
    </div>
  </v-responsive>
</template>

<style lang="scss" scoped>
.home-hero-light {
  background: url("~/assets/image/pellpell.png");
  background-color: rgba(250, 247, 237, 0.9);
  background-size: cover;
  background-blend-mode: lighten;
  background-position: right 95%;
}

.home-hero-dark {
  background: url("~/assets/image/pellpell.png");
  background-color: rgba(42, 40, 37, 0.9);
  background-size: cover;
  background-blend-mode: darken;
  background-position: right 95%;
}

@media screen and (max-width: 600px) {
  .sns-btns {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

}

@media screen and (min-width: 601px) {
  .sns-btns {
    position: absolute;
    right: 20px;
    bottom: 20px
  }

}
</style>
