<template>
  <v-row class="my-5 my-md-10">
    <template v-for="item in items">
      <v-col cols="12" md="6" lg="3">
        <v-hover v-slot="{ isHovering, props }">
          <v-card :href="item.href" :elevation="isHovering ? 4 : 2" v-bind="props">
            <v-card-title class="text-h6 white--text">
              {{ item.title }}
            </v-card-title>
            <v-divider class="mx-4"></v-divider>
            <v-row :align="'center'" class="text-center" style="height: 150px;">
              <v-col>
                <v-icon size="100" color="amber-lighten-2" :icon=item.icon></v-icon>
              </v-col>
            </v-row>
          </v-card>
        </v-hover>
      </v-col>
    </template>
  </v-row>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        title: 'Artwork',
        icon: 'mdi-brush',
        href: '/artwork',
      },
      {
        title: 'Music',
        icon: 'mdi-music',
        href: '/works/music',
      },
      {
        title: 'Game',
        icon: 'mdi-google-controller',
        href: '/works/game',
      },
      {
        title: 'CG',
        icon: 'mdi-blender-software',
        href: '/about',
      },
    ],
    transparent: 'rgba(255, 255, 255, 0)',
  }),
}
</script>
