<template>
  <div>
    <v-navigation-drawer v-model="drawer" floating temporary>
      <v-list nav>
        <template v-for="item in items">
          <v-list-item :href="item.href" :prepend-icon="item['prepend-icon']" :title="item.title" :value="item.value">
          </v-list-item>
        </template>

      </v-list>
    </v-navigation-drawer>
  </div>
</template>


<script setup lang="ts">

const props = defineProps({
  drawer: Boolean
})

const items = ref([
  {
    title: 'Home',
    'prepend-icon': 'mdi-home',
    value: 'home',
    href: '/',
  },
  {
    title: 'About',
    'prepend-icon': 'mdi-account',
    value: 'about',
    href: '/about',
  },
  {
    title: 'Artwork',
    'prepend-icon': 'mdi-brush',
    value: 'artwork',
    href: '/artwork',
  },
  {
    title: 'Music',
    'prepend-icon': 'mdi-music',
    value: 'music',
    href: '/works/music',
  },
  {
    title: 'Game',
    'prepend-icon': 'mdi-google-controller',
    value: 'game',
    href: '/works/game',
  },
  {
    title: 'CG',
    'prepend-icon': 'mdi-blender-software',
    value: 'cg',
    href: '/artwork',
  },
]);
</script>
