<template>
  <NuxtLayout name="container">
    <WorksGameMain />
  </NuxtLayout>
</template>

<script setup lang="ts">
useHead({
  titleTemplate: 'ぺるぺるのゲーム - %s',
  meta: [
    { name: 'description', content: 'ぺるぺるのゲーム' }
  ],
})
</script>
