<template>
  <NuxtLayout name="container">
    <template v-if="isIndex">
      <WorksMusicMain :query="query"/>
    </template>
    <template v-else-if="isFailed">
      <FailedMain />
    </template>
    <template v-else>
      <ContentRenderer :value="data">
        <h1>{{ data.title }}</h1>
        <MarkdownRenderer :value="data" />
      </ContentRenderer>
    </template>
  </NuxtLayout>
</template>

<script setup lang="ts">import { ParsedContent } from '@nuxt/content/dist/runtime/types';

const route = useRoute()
const { data } = await useAsyncData('page-data', () => queryContent(route.path).findOne())

const isIndex = !Object.keys(route.params).length
const isFailed = !data.value

const query = ref<ParsedContent[]>([])

if (isIndex) {
  query.value = await queryContent('works', 'music').where({ title: { $ne: 'ぺるぺるの曲' } }).sort({ title: 1 })
    .sort({ category: 0 })
    .find()
  
  // console.log(query.value);
  
}

const title = isIndex ? '' : (isFailed ? "404 - " : `${data.value.title} - `)
useHead({
  titleTemplate: title + 'ぺるぺるの曲 - ぺるぺるのものづくり',
  meta: [
    { name: 'description', content: 'ぺるぺるの曲' }
  ],
})
</script>
